Repository sibyllinesoft/arbiter: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move diff command to services
  packages/cli/src/cli/project.ts
  packages/cli/src/services/diff/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: update tsbuildinfo
  packages/cli/tsconfig.tsbuildinfo
Due: none

refactor: move docs schema/api command to services
  packages/cli/src/cli/generation.ts
  packages/cli/src/services/docs/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: delete legacy watch shim
  packages/cli/src/commands/watch.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move surface command to services
  packages/cli/src/cli/project.ts
  packages/cli/src/services/surface/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move examples/explain/execute to services
  packages/cli/src/cli/generation.ts
  packages/cli/src/commands/compat.ts
  packages/cli/src/services/examples/index.ts
  packages/cli/src/services/execute/index.ts
  packages/cli/src/services/explain/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: restore compat command into services
  packages/cli/src/services/compat/index.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move auth command to services
  packages/cli/src/cli/auth.ts
  packages/cli/src/services/auth/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: drop legacy auth shim
  packages/cli/src/commands/auth.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move github-templates command to services
  packages/cli/src/cli/integration.ts
  packages/cli/src/services/github-templates/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: collapse legacy command shims into services
  docs/content/notes/todo-cli-refactor.md
  packages/cli/package.json
  packages/cli/src/cli/epic-task.ts
  packages/cli/src/cli/generation.ts
  packages/cli/src/cli/project.ts
  packages/cli/src/cli/remove.ts
  packages/cli/src/cli/utilities.ts
  packages/cli/src/cli/version.ts
  packages/cli/src/commands/check-connection.ts
  packages/cli/src/commands/check-constrained.ts
  packages/cli/src/commands/epic.ts
  packages/cli/src/commands/import.ts
  packages/cli/src/commands/onboard.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/rename.ts
  packages/cli/src/commands/schema-docs.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/tests.ts
  packages/cli/src/commands/version.ts
  packages/cli/src/constraints/README.md
  packages/cli/src/docs/index.ts
  packages/cli/src/index.ts
  packages/cli/src/services/check-connection/index.ts
  packages/cli/src/services/check-constrained/index.ts
  packages/cli/src/services/compat/__tests__/compat-version.test.ts
  packages/cli/src/services/docs/index.ts
  packages/cli/src/services/epic/commands.ts
  packages/cli/src/services/epic/index.ts
  packages/cli/src/services/import/index.ts
  packages/cli/src/services/onboard/index.ts
  packages/cli/src/services/onboard/onboard.test.ts
  packages/cli/src/services/remove/index.ts
  packages/cli/src/services/rename/index.ts
  packages/cli/src/services/schema-docs/index.ts
  packages/cli/src/services/test/index.ts
  packages/cli/src/services/tests/index.ts
  packages/cli/src/services/version/index.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(go): load Go mod and docker templates via template resolver
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/Dockerfile.prod.tpl
  packages/cli/src/templates/go/Dockerfile.tpl
  packages/cli/src/templates/go/go.mod.tpl
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: update CLI refactor todo progress
  docs/content/notes/todo-cli-refactor.md
Due: bunx prettier --write

chore(go): add template assets for go init & adjust async generation
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/.github/workflows/go.yml.tpl
  packages/cli/src/templates/go/.goreleaser.yml.tpl
  packages/cli/src/templates/go/Makefile.tpl
  packages/cli/src/templates/go/cmd/main.go.tpl
  packages/cli/src/templates/go/docker-compose.yml.tpl
  packages/cli/src/templates/go/internal/config/config.go.tpl
  packages/cli/src/templates/go/internal/database/database.go.tpl
  packages/cli/src/templates/go/internal/logger/logger.go.tpl
  packages/cli/src/templates/go/internal/server/server.go.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(go): drive core templates via TemplateResolver placeholders
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/Makefile.tpl
  packages/cli/src/templates/go/cmd/main.go.tpl
  packages/cli/src/templates/go/docker-compose.yml.tpl
  packages/cli/src/templates/go/internal/config/config.go.tpl
  packages/cli/src/templates/go/internal/server/server.go.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(go): template env example via resolver
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/.env.example.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(go): route logger generation through template resolver
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/internal/logger/logger.go.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(go): template middleware and health handler via resolver
  packages/cli/src/language-plugins/go.ts
  packages/cli/src/templates/go/internal/handlers/health_handler.go.tpl
  packages/cli/src/templates/go/internal/middleware/cors.go.tpl
  packages/cli/src/templates/go/internal/middleware/logger.go.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(python): add resolver templates for main, config, db, routers, services, models, schemas
  packages/cli/src/templates/python/app/core/config.py.tpl
  packages/cli/src/templates/python/app/core/database.py.tpl
  packages/cli/src/templates/python/app/main.py.tpl
  packages/cli/src/templates/python/app/models/model.py.tpl
  packages/cli/src/templates/python/app/routers/api.py.tpl
  packages/cli/src/templates/python/app/schemas/schema.py.tpl
  packages/cli/src/templates/python/app/services/service.py.tpl
  packages/cli/src/templates/python/requirements.txt.tpl
Due: none

chore(python): render requirements via template resolver
  packages/cli/src/language-plugins/python.ts
  packages/cli/src/templates/python/requirements.txt.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(python): add resolver and requirements/main/config templates
  packages/cli/src/language-plugins/python.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(python): route main/config/db/router/service/model/schema through templates
  packages/cli/src/language-plugins/python.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(python): template infra assets
  packages/cli/src/language-plugins/python.ts
  packages/cli/src/templates/python/.github/workflows/python-app.yml.tpl
  packages/cli/src/templates/python/Dockerfile.prod.tpl
  packages/cli/src/templates/python/Dockerfile.tpl
  packages/cli/src/templates/python/app/core/auth.py.tpl
  packages/cli/src/templates/python/app/core/security.py.tpl
  packages/cli/src/templates/python/app/handlers/handler.py.tpl
  packages/cli/src/templates/python/app/main.py.tpl
  packages/cli/src/templates/python/docker-compose.yml.tpl
  packages/cli/src/templates/python/pyproject.toml.tpl
  packages/cli/src/templates/python/tests/conftest.py.tpl
  packages/cli/src/templates/python/tests/test_main.py.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: add TODO for remaining cleanup
  TODO.md
Due: bunx prettier --write

chore(rust): template cargo manifest
  packages/cli/src/language-plugins/rust.ts
  packages/cli/src/templates/rust/Cargo.toml.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(rust): template main/app/config
  packages/cli/src/language-plugins/rust.ts
  packages/cli/src/templates/rust/src/app.rs.tpl
  packages/cli/src/templates/rust/src/config.rs.tpl
  packages/cli/src/templates/rust/src/main.rs.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(rust): template database module
  packages/cli/src/language-plugins/rust.ts
  packages/cli/src/templates/rust/src/database.rs.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: update TODO with rust progress
  TODO.md
Due: bunx prettier --write

chore(rust): template errors module
  packages/cli/src/language-plugins/rust.ts
  packages/cli/src/templates/rust/src/errors.rs.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: note rust errors templated
  TODO.md
Due: bunx prettier --write

chore(rust): add template stubs for handlers/routes/services/models/tests/docker
  packages/cli/src/templates/rust/.github/workflows/rust.yml.tpl
  packages/cli/src/templates/rust/Dockerfile.prod.tpl
  packages/cli/src/templates/rust/Dockerfile.tpl
  packages/cli/src/templates/rust/docker-compose.yml.tpl
  packages/cli/src/templates/rust/src/handlers/handler.rs.tpl
  packages/cli/src/templates/rust/src/models/model.rs.tpl
  packages/cli/src/templates/rust/src/routes/routes.rs.tpl
  packages/cli/src/templates/rust/src/services/service.rs.tpl
  packages/cli/src/templates/rust/src/tests/integration.rs.tpl
  packages/cli/src/templates/rust/src/tests/mod.rs.tpl
Due: none

chore(rust): route handler generation through templates
  packages/cli/src/language-plugins/rust.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: update TODO after handler templating
  TODO.md
Due: bunx prettier --write

chore(rust): route routes generation through templates
  packages/cli/src/language-plugins/rust.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(rust): template remaining generators
  TODO.md
  packages/cli/src/language-plugins/rust.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: lean on enhanced CUE parser; add persistence tests
  TODO.md
  packages/cli/src/__tests__/github-sync-state.test.ts
  packages/cli/src/__tests__/idempotency-persistence.test.ts
  packages/cli/src/docs/README.md
  packages/cli/src/docs/generate-example.ts
  packages/cli/src/docs/index.ts
  packages/cli/src/services/schema-docs/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

Path conditions:
  bunx prettier --write: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
  bunx @biomejs/biome@1.9.4 check --write: any of: *.{ts,tsx,js,jsx}
