Repository sibyllinesoft/arbiter: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: clarify template runner vs engines
  docs/content/guides/code-generation-architecture.md
Due: bunx prettier --write

docs: separate template runner and engine concepts
  docs/content/guides/code-generation-architecture.md
Due: bunx prettier --write

docs: clarify when templates render
  docs/content/guides/code-generation-architecture.md
Due: bunx prettier --write

feat: add testsDir to generation contexts
  docs/content/guides/code-generation-architecture.md
  packages/cli/src/services/generate/contexts.ts
  packages/cli/src/services/generate/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: remove perf considerations section
  docs/content/guides/code-generation-architecture.md
  packages/cli/src/services/generate/contexts.ts
  packages/cli/src/services/generate/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: clarify .arbiter.json hierarchy
  docs/content/guides/code-generation-configuration.md
Due: bunx prettier --write

chore: sync docs and build info
  docs/content/guides/code-generation-configuration.md
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write

feat(cli): sync generate with project dir
  packages/cli/src/__tests__/api-client.test.ts
  packages/cli/src/__tests__/cli-e2e.test.ts
  packages/cli/src/api-client.ts
  packages/cli/src/cli/context.ts
  packages/cli/src/cli/generation.ts
  packages/cli/src/config.ts
  packages/cli/src/services/generate/index.ts
  packages/cli/src/services/generate/types.ts
  packages/cli/src/types.ts
  packages/cli/tsconfig.tsbuildinfo
  packages/shared-types/src/cli.ts
  packages/shared-types/tsconfig.tsbuildinfo
  packages/shared/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: update cli build cache
  packages/cli/tsconfig.tsbuildinfo
Due: none

refactor(generate): enforce client/service targets
  packages/cli/src/services/generate/contexts.ts
  packages/cli/src/services/generate/index.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: align generation flow with project dir
  docs/content/guides/code-generation-architecture.md
  docs/content/guides/code-generation-configuration.md
  docs/content/guides/generation-best-practices.md
  docs/content/guides/template-development-guide.md
  docs/content/overview/code-generation-overview.md
Due: bunx prettier --write

docs: clarify generation profiles
  docs/content/guides/code-generation-configuration.md
Due: bunx prettier --write

refactor(cli): split epic command I/O from services and centralize output types
  packages/cli/src/cli/context.ts
  packages/cli/src/commands/epic.ts
  packages/cli/src/config.ts
  packages/cli/src/services/epic/data.ts
  packages/cli/src/services/epic/index.ts
  packages/cli/src/types/output.ts
  packages/cli/src/utils/formatting.ts
  packages/cli/src/utils/standardized-output.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore(cli): drop legacy epic/task fallbacks to service layer
  packages/cli/src/commands/epic.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor(cli): isolate epic/task types and slim service to re-exports
  packages/cli/src/commands/epic.ts
  packages/cli/src/services/epic/data.ts
  packages/cli/src/services/epic/index.ts
  packages/cli/src/services/epic/types.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

test(cli): skip cue-dependent e2e/epic when not available; align workflow and integrate fixtures
  packages/cli/src/__tests__/cli-e2e.test.ts
  packages/cli/src/__tests__/epic.test.ts
  packages/cli/src/__tests__/generate-workflows.test.ts
  packages/cli/src/services/__tests__/integrate.test.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

test(cli): gate e2e on cue flag and loosen workflow expectations; template inheritance fallback
  packages/cli/src/__tests__/cli-e2e.test.ts
  packages/cli/src/__tests__/generate-workflows.test.ts
  packages/cli/src/utils/unified-github-template-manager.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

test(cli): expect generated epic template as yml
  packages/cli/src/services/__tests__/integrate.test.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: add missing cli/client assets and tests
  apps/client/src/components/templates/EntityCatalog.tsx
  apps/client/src/components/templates/index.ts
  apps/client/src/config/entity-definitions.ts
  apps/client/src/contexts/AppSettingsContext.tsx
  apps/client/src/contexts/EditorContext.tsx
  apps/client/src/contexts/GitHubContext.tsx
  apps/client/src/contexts/TabBadgeContext.tsx
  apps/client/src/contexts/UIContext.tsx
  apps/client/src/contexts/ValidationContext.tsx
  apps/client/src/lib/monaco-cue.ts
  apps/client/src/types/forms.ts
  apps/client/src/utils/file-tree.ts
  packages/cli/src/__tests__/config.test.ts
  packages/cli/src/__tests__/entrypoint.test.ts
  packages/cli/src/commands/__tests__/compat-version.test.ts
  packages/cli/src/docs/template-implementor.ts
  packages/cli/src/services/__tests__/template-orchestrator.test.ts
  packages/cli/src/services/add/index.ts
  packages/cli/src/services/add/shared.ts
  packages/cli/src/services/add/subcommands/cache.ts
  packages/cli/src/services/add/subcommands/client.ts
  packages/cli/src/services/add/subcommands/component.ts
  packages/cli/src/services/add/subcommands/contracts.ts
  packages/cli/src/services/add/subcommands/database.ts
  packages/cli/src/services/add/subcommands/endpoint.ts
  packages/cli/src/services/add/subcommands/flow.ts
  packages/cli/src/services/add/subcommands/load-balancer.ts
  packages/cli/src/services/add/subcommands/locator.ts
  packages/cli/src/services/add/subcommands/module.ts
  packages/cli/src/services/add/subcommands/package.ts
  packages/cli/src/services/add/subcommands/route.ts
  packages/cli/src/services/add/subcommands/schema.ts
  packages/cli/src/services/add/subcommands/service.ts
  packages/cli/src/services/add/template-engine.ts
  packages/cli/src/services/check/index.ts
  packages/cli/src/services/generate/template-orchestrator.ts
  packages/cli/src/templates/assets/example-script-template.sh
  packages/cli/src/templates/github-assets.ts
  packages/cli/src/utils/package-manager.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: add CLI refactor todo
  apps/api/tsconfig.tsbuildinfo
  docs/content/notes/todo-cli-refactor.md
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write

refactor: collapse add/generate command shims (first chunk)
  packages/cli/src/__tests__/generate-workflows.test.ts
  packages/cli/src/cli/add.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/generate.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: remove check command shim
  packages/cli/src/cli/generation.ts
  packages/cli/src/cli/project.ts
  packages/cli/src/commands/check.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: remove sync/spec-import/integrate shims
  packages/cli/src/cli/integration.ts
  packages/cli/src/cli/project.ts
  packages/cli/src/commands/integrate.ts
  packages/cli/src/commands/spec-import.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: remove docs-generate shim
  packages/cli/src/commands/docs-generate.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: externalize TS component template
  packages/cli/src/language-plugins/template-resolver.ts
  packages/cli/src/language-plugins/typescript.ts
  packages/cli/src/templates/typescript/component.tsx.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: update tsbuildinfo
  packages/cli/tsconfig.tsbuildinfo
Due: none

chore: update refactor TODO
  docs/content/notes/todo-cli-refactor.md
Due: bunx prettier --write

refactor: externalize TS component ancillary templates
  packages/cli/src/templates/typescript/component.module.css.tpl
  packages/cli/src/templates/typescript/component.test.tsx.tpl
  packages/cli/src/templates/typescript/component.types.ts.tpl
Due: none

refactor: externalize TS service templates
  packages/cli/src/language-plugins/typescript.ts
  packages/cli/src/templates/typescript/service/service.api.ts.tpl
  packages/cli/src/templates/typescript/service/service.class.ts.tpl
  packages/cli/src/templates/typescript/service/service.handler.ts.tpl
  packages/cli/src/templates/typescript/service/service.schema.ts.tpl
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: normalize tsbuildinfo
  packages/cli/tsconfig.tsbuildinfo
Due: none

docs: add workspace review note
  workspace-review.md
Due: bunx prettier --write

refactor: move status/list/init to services
  packages/cli/src/cli/project.ts
  packages/cli/src/services/init/index.ts
  packages/cli/src/services/list/index.ts
  packages/cli/src/services/status/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: drop old command shims (init/list/status)
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/status.ts
  packages/cli/tsconfig.tsbuildinfo
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

refactor: move watch command to services
  packages/cli/src/services/watch/index.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

chore: update cli wiring for watch/status/list/init services
  packages/cli/src/cli/project.ts
Due: bunx prettier --write, bunx @biomejs/biome@1.9.4 check --write

docs: refresh todo after latest shims
  docs/content/notes/todo-cli-refactor.md
Due: bunx prettier --write

Path conditions:
  bunx prettier --write: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
  bunx @biomejs/biome@1.9.4 check --write: any of: *.{ts,tsx,js,jsx}
